<footer class="container-fluid text-center footer">
    <div class="container-fluid">
        <!--hr-->
        <br />
        <br /> 
        <a class="link" href="/aboutus">About Us/FAQ</a>
        <br />
        <br />
        <p>
            DeadLock © 2018
            <br />
        </p>
        <p class="small">
            Website built by the DeadLock team.
        </p>
    </div>
</footer>