<footer class="footer">
    <div class="container-fluid">
        <div class="row footer-body">
            <a class="nav-link" href="/aboutus">About Us/FAQ</a>
            <p class="nav-text">DeadLock © 2018</p>
            <p class="nav-text">Website built by the DeadLock team.</p>
        </div>
    </div>
</footer>