<header>
    <!--
    <nav class="navbar navbar-static-top navbar-custom" role="navigation">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-stacked" data-spy="affix" data-offset-top="205"">
                    <li><a class="nav-button" href="/">Home</a></li>
                    <li><a class="nav-button" href="/login">Log in / Register</a></li>
                    <li><a class="nav-button" href="/aboutus">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    -->

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/"><img src="images/" width="100%" height="100%" class="d-inline-block align-top" alt="Deadlock"></a>   
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a class="nav-button" href="/">Home</a></li>
                    <li><a class="nav-button" href="/login">Log in / Register</a></li>
                    <li><a class="nav-button" href="/aboutus">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
