h3{
	text-align: center;
}
#mmenu{
	position:absolute;
	right:0px;
	bottom:10px;
	width: 95%;
}
body {
	background: linear-gradient(to top, #ff6666 0%, #ffff99 100%) fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width:1000px;
}

#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 150px;

}
#sideMenu {
	z-index:2;
	left:0;
	width: 160px;
	height: 500px;
	position: fixed;
	top:100px;
	background-color:yellow;
	
	
}

#upperMenu {
	left:0;
	z-index:1;
	height: 100px;
	width: 100%;
	float: left;
	position: -webkit-sticky;
	position: fixed;
	top:0px;
	background-color:blue;
}

#content {
	z-index:0;
	position: relative;
	top: 100px;
	left:175px;
	width:85%;
	background-color:green;
}