html{
    min-height:100%;
    position:relative;
}

body {
	height:100%;
}

#ISchollingUIText{
	text-align: center;
}
#IUserRegisterTable{
	background-image: url("wood-photo.jpeg") ;
    background-size: cover;
    width: 100%;
    height: 50%;
    text-align: center;
	border-collapse:collapse;
    border-spacing:0;
}
h1.CUserInterface {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.inner-content {
	background-color: blue;
	box-sizing: content-box;
    margin: 0 15%;
    padding: 15px;
    position:absolute;
}

.question-list {
    width: 728px;
    margin-bottom: 20px;
}

.question-summary {
    padding: 12px 0 10px 0;
    border-bottom: 1px solid #e4e6e8;
}

.question-points {
    width: 40px;
    padding-right: 12px;
    text-align: right;
    display:inline-block;
}

.question-title {
    display:inline-block;
}

a.question-title {
    color: #07C;
    margin:5px 0;
    text-decoration: none;
}

a.question-title:hover {
    color:#3af;
}

.jumbotron {
    background-color: #116CF6;
    color: #FFFFFF;
}

.jumbotron-title {
    display: inline-block;
}

#mainbar {
	background-color: red;
	float: left;
    width: 70%;  
    padding: 0 10px 0 10px;
}

#main-content {
	background-color: green;
	width: 100%;
}

#sidebar {
    background-color: white;
    float: right;
    width: 25%;
    padding: 10px 10px 0 10px;
}