<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SOEN341 Q&amp;A</title>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="stylesheets/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            html, body, h1, h2, h3, h4, h5 {
                font-family: "Open Sans", sans-serif
            }
        </style>
    </head>
    <body>
        {{>header}}
        
        <div class="jumbotron">
            <div class="container">
                <h1>User Profile Edit </h1>
            </div>
        </div>
        <div class="container">
            <!--- Form might need USER ID after action= to REDIRECT TO THE SPECIFIC PAGE! --->
            <form action="/userpage" class="form-horizontal" method="post">

                <!--Picking profile picture-->
                <div class="form-group">
                    <h2>Select a profile!</h2>
                </div>
                <label class="radio-inline">
                    <input type="radio" name="profile-picture" value="pictures/default2.png" checked><img src="pictures/default2.png" class="img-rounded" alt="Cinque Terre">
                    <div class="caption">
                        <p>Profile picture 1</p>
                     </div>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="profile-picture" value="pictures/default3.png"><img src="pictures/default3.png" class="img-rounded" alt="Cinque Terre">
                    <div class="caption">
                        <p>Profile picture 2</p>
                     </div>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="profile-picture" value="pictures/default4.png"><img src="pictures/default4.png" class="img-rounded" alt="Cinque Terre">
                    <div class="caption">
                        <p>Profile picture 3</p>
                     </div>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="profile-picture" value="pictures/default1.png"><img src="pictures/default1.png" class="img-rounded" alt="Cinque Terre">
                    <div class="caption">
                        <p>Profile picture 4</p>
                     </div>
                </label>

                </br></br>

                <!--Picking color for Banner-->
                <div class="form-group">
                    <h2>Pick a Banner Color</h2>
                    <input type="color" name="banner" value="#ff0000" class="form-control">
                </div>


                <!--  REPLACE ALL PLACEHOLDER= WITH {{VALUEEEE}} from database   -->
                <div class="page-header">
                    <h2>Contact me section</h2>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Email:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="email">
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Phone number:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="phone">
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">GitHub:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="gitpage">
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Linkdin:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="linkdin">
                    </div>
                </div>

                
                <!--  REPLACE ALL PLACEHOLDER= WITH {{VALUEEEE}} from database   -->
                <div class="page-header">
                    <h2>About me section</h2>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Full Name:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="name">
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="radio">Gendre:</label>
                     <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="gendre"checked>Male </label>
                        <label class="radio-inline"><input type="radio" name="gendre">Female</label>
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Age:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="age">
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Birthday:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="birthday">
                    </div>
                </div>
                 <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Spoken Language:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="spoken-language">
                    </div>
                </div>
                 <div class="form-group">
                     <label class="control-label col-sm-2" for="text">Programing Language:</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" id="focusedInput" placeholder="Enter email" name="programing-language">
                    </div>
                </div>
                <div class="row">
					<input class="btn btn-success" type="submit" value="Submit" />
					<input class="btn btn-danger" type="reset" value="Clear" />
				</div>
                
            </form>
         </div>
        {{>footer}}
    </body>
</html>