<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SOEN341 Q&amp;A</title>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="stylesheets/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            html, body, h1, h2, h3, h4, h5 {
                font-family: "Open Sans", sans-serif
            }
        </style>
    </head>
    <body>
        {{>header}}
        
        <div class="jumbotron">
            <div class="container">
                <h2>User Profile Edit </h2>
            </div>
        </div>
        <img src="pictures/default1.png" class="img-rounded" alt="Cinque Terre">
        <form>
            <label class="radio-inline">
                <input type="radio" name="optradio">Option 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Option 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Option 3
            </label>
         </form>
        {{>footer}}
    </body>
</html>