<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>DeadLock - Log In / Register</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />       
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JavaScripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="stylesheets/index.css"> --> 
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="stylesheets/signin.css">
        <link rel="stylesheet" href="stylesheets/standardstyle.css">
    </head>
	<body>
		{{>header}}
		<div class="jumbotron" style="margin-top: 50px">
			<div class="container">
				<h1>Join our community!</h1>
			</div>
		</div>
		<div class="container page-body">
			<div class="row vdivide">
				<div class="col-sm-6 login-section">
					<h2 class="form-heading">Login</h2>
					<form>
						<div class="form-group">
							<label for="inputsm"><span class="form-heading">Username:</span></label>
							<input input type="text" class="form-control" id="username" name="username">
						</div>					
						<div class="form-group" >
							<label for="inputsm"><span class="form-heading">Password:</span></label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
						<input type="submit" value="Log in" class="btn btn-default">
					</form>
				</div>
				<div class="col-sm-6 register-section">
					<h2 class="form-heading">Register</h2>
					<form>
						<div class="form-group">
							<label for="inputsm"><span class="form-heading">Username:</span></label>
							<input type="text" class="form-control" id="username" name="username">
						</div>
<!--						<div class="form-group">
							<label for="inputsm"><span class="form-heading">Email:</span></label>
							<input type="text" class="form-control" id="email" name="email">
						</div>					
-->						<div class="form-group" >
							<label for="inputsm"><span class="form-heading">Password:</span></label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
<!--						<div class="form-group" >
							<label for="inputsm"><span class="form-heading">Verify password:</span></label>
							<input type="password" class="form-control" id="verifyPassword" name="verifyPassword">
						</div>
-->
						<input type="submit" value="Register" class="btn btn-default">
					</form>
				</div>
			</div>
		</div>			
	    {{>footer}}
	</body>
</html>