<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>DeadLock - Log In / Register</title>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <!-- External CSS -->
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <link rel="stylesheet" href="/stylesheets/standardstyle.css">
  </head>

  <body>
    {{>header}}
    <div class="jumbotron" style="margin-top: 50px">
      <div class="container">
        <h1>Join our community!</h1>
      </div>
    </div>

    <div class="container page-body">
      <div class="row vdivide">
        <div class="col-sm-6 login-section">
          <h2 class="form-heading">Login</h2>
          {{#if sig}}
            <div class="alert alert-danger"> {{sig}} </div>
          {{/if}}
          <form action="/loginRegister/login" method="post">
            <div class="form-group">
              <label for="inputsm">
                <span class="form-heading">Username:</span>
              </label>
              <input class="form-control" id="username" name="username" type="text">
            </div>       
            <div class="form-group">
              <label for="inputsm">
                <span class="form-heading">Password:</span>
              </label>
              <input class="form-control" id="password" name="password" type="password">
            </div>
            <input class="btn btn-default" type="submit" value="Log in">
          </form>
        </div>

        <div class="col-sm-6 register-section">
          <h2 class="form-heading">Register</h2>
          {{#if reg}}
            <div class="alert alert-danger"> {{reg}} </div>
          {{/if}}

          <form action="/loginRegister/register" method="post">
            <div class="form-group">
              <label for="inputsm">
                <span class="form-heading">Username:</span>
              </label>
              <input class="form-control" id="username" name="username" type="text">
            </div>

            <div class="form-group">
              <label for="inputsm">
                <span class="form-heading">Email:</span>
              </label>
              <input class="form-control" id="email" name="email" type="text">
            </div>

            <div class="form-group">
              <label for="inputsm">
                <span class="form-heading">Password:</span>
              </label>
              <input class="form-control" id="password" name="password" type="password">
            </div>
            
            <div class="form-group">
              <label for="inputsm">
                <span class="form-heading">Confirm password:</span>
              </label>
              <input class="form-control" id="confirmpassword" name="confirmpassword" type="password">
            </div>

              <div class="form-check">
                <input class="form-check-input" id="defaultCheck1" name="apply" type="checkbox" value="apply">
                  <label class="form-check-label" for="defaultCheck1">
                    <span class="form-heading">Apply for a company account</span>
                  </label>
              </div>
              
              <input class="btn btn-default" type="submit" value="Register">
          </form>
        </div>
      </div>
    </div>          
    {{>footer}}
  </body>
</html>
