<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DeadLock - Ask A Question</title>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/question-prompt.js"></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/standardstyle.css">
    <link rel="stylesheet" href="stylesheets/userrankpagestlye.css">
   
  </head>
  <body>
    {{>header}}
      <!-- Jumbotron containing all tags -->
      <div class="jumbotron container-fluid text-center" style="margin-top: 25px">
        <h2>Select a tag</h2>
        <p>View all users based on tag score</p>
        <div class="btn-group-wrap">
          <div class="btn-group">
              <button type="button" class="btn btn-success">Java</button>
              <button type="button" class="btn btn-success">Php</button>
              <button type="button" class="btn btn-success">Python</button>
              <button type="button" class="btn btn-success">C++</button>
              <button type="button" class="btn btn-success">C#</button>
              <button type="button" class="btn btn-success">Ruby</button>
              <button type="button" class="btn btn-success">Lisp</button>
              <button type="button" class="btn btn-success">Prolog</button>
              <button type="button" class="btn btn-success">HTML</button>
              <button type="button" class="btn btn-success">CSS</button>
              <button type="button" class="btn btn-success">JavaScript</button>
              <button type="button" class="btn btn-success">Jade</button>
              <button type="button" class="btn btn-success">C</button>
              <button type="button" class="btn btn-success">Fortran</button>
              <button type="button" class="btn btn-success">Visual Basic</button>
              <button type="button" class="btn btn-success">Assembly</button>
              <button type="button" class="btn btn-success">Perl</button>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Tag selection is shown here -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card text-center"><h1 class="tag-selected">Java</h1></div>
          </div>
        </div>

        <!-- list of all users with the selected tag -->
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Doe</td>
              <td>JohnDoe@aol.com</td>
              <td>54</td>
            </tr>
            <tr>
              <td>Mary Moe</td>
              <td>JohnDoe@aol.com</td>
              <td>34</td>
            </tr>
            <tr>
              <td>July Dooley</td>
              <td>Dooley@aol.com</td>
              <td>12</td>
            </tr>
          </tbody>
        </table>
      </div>

    {{>footer}}
  </body>
</html>