<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SOEN341 Q&amp;A</title>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="stylesheets/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            html, body, h1, h2, h3, h4, h5 {
                font-family: "Open Sans", sans-serif
            }
            .card {
                padding: 5px;
                margin: 10px 0px;
            }
            li {
                padding: 0px 0 5px;
            }
        </style>
    </head>
    <body>
        {{>header}}
        <div class="jumbotron text-center" style="background-color: #116CF6;">
            <img src="pictures/default1.png" style="width:12%; height:12%" class="img-circle">
            <h2><strong>John Doe</strong></h2>
            <button type="button" class="btn btn-info" onclick="location.href='/edituserpage'">Edit profile</button>
        </div>       
        {{>footer}}
    </body>
</html>