<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DeadLock - Ask A Question</title>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/standardstyle.css">
    <link rel="stylesheet" href="/stylesheets/userrankpagestlye.css">
   
  </head>
  <body>
    {{>header}}
      <!-- Jumbotron containing all tags -->
      <div class="jumbotron container-fluid text-center" style="margin-top: 25px">
        <h2>Select a tag</h2>
        <p>View all users based on tag score</p>
        <div class="form-group">
          <div class="btn-group-wrap text-center">
            <form class="tag-button" action="/userRankPage/Java" method="get">
              <input type="submit" class="btn btn-success" value="Java">
            </form>
            <form class="tag-button" action="/userRankPage/PHP" method="get">
              <input type="submit" class="btn btn-primary" value="PHP">
            </form>
            <form class="tag-button" action="/userRankPage/Python" method="get">
              <input type="submit" class="btn btn-info" value="Python">
            </form>
            <form class="tag-button" action="/userRankPage/C++" method="get">
              <input type="submit" class="btn btn-default" value="C++">
            </form>
            <form class="tag-button" action="/userRankPage/C#" method="get">
              <input type="submit" class="btn btn-warning" value="C#">
            </form>
            <form class="tag-button" action="/userRankPage/Ruby" method="get">
              <input type="submit" class="btn btn-danger" value="Ruby">
            </form>
            <form class="tag-button" action="/userRankPage/Lisp" method="get">
              <input type="submit" class="btn btn-success" value="Lisp">
            </form>
            <form class="tag-button" action="/userRankPage/Prolog" method="get">
              <input type="submit" class="btn btn-primary" value="Prolog">
            </form>
            <form class="tag-button" action="/userRankPage/HTML" method="get">
              <input type="submit" class="btn btn-info" value="HTML">
            </form>
            <form class="tag-button" action="/userRankPage/CSS" method="get">
              <input type="submit" class="btn btn-default" value="CSS">
            </form>
            <form class="tag-button" action="/userRankPage/JavaScript" method="get">
              <input type="submit" class="btn btn-warning" value="JavaScript">
            </form>
            <form class="tag-button" action="/userRankPage/Jade" method="get">
              <input type="submit" class="btn btn-danger" value="Jade">
            </form>
            <form class="tag-button" action="/userRankPage/C" method="get">
              <input type="submit" class="btn btn-success" value="C">
            </form>
            <form class="tag-button" action="/userRankPage/Fortran" method="get">
              <input type="submit" class="btn btn-primary" value="Fortran">
            </form>
            <form class="tag-button" action="/userRankPage/Visual Basic" method="get">
              <input type="submit" class="btn btn-primary" value="Visual Basic">
            </form>
            <form class="tag-button" action="/userRankPage/Assembly" method="get">
              <input type="submit" class="btn btn-default" value="Assembly">
            </form>
            <form class="tag-button" action="/userRankPage/Perl" method="get">
              <input type="submit" class="btn btn-warning" value="Perl">
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <hr>
        <!-- Tag selection is shown here -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card text-center">
              <h1 class="tag-selected">{{tagName}}</h1>
            </div>
          </div>
        </div>

        <!-- list of all users with the selected tag -->
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
              <tr>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{this.tag}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    {{>footer}}
  </body>
</html>